@model EiAtende.PortalAtividadeChamados

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PortalAtividadeChamados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PortalEmpresa.EmpCNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortalEmpresa.EmpCNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtividadeChamadoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtividadeChamadoNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AtividadeChamadoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
