@model EiAtende.PortalChamados

<script type="text/javascript">
    $(window).load(function () {
        $('#modalChamado').modal('show');
    });
</script>

@using (Html.BeginForm("EditarChamados", "PortalChamados", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="Chamado" class="panel panel-primary">
        <div class="panel-content">
            <div class="x-panel-header">
                <h4> <strong>Editar Chamado</strong></h4>
            </div>
            <div class="panel-body ">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-6">
                                @Html.HiddenFor(model => model.ChamadoID)
                                <small>Titulo do Chamado</small><br />
                                @if (TempData["Acao"].ToString() == "Visualizar")
                                {
                                    @Html.EditorFor(model => model.ChamadoTitulo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.ChamadoTitulo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Titulo" } })
                                }
                            </div>
                            <div class="col-md-2 hidden">
                                <small>Data Abertura</small><br />
                                @if (TempData["Acao"].ToString() == "Visualizar")
                                {
                                    @Html.EditorFor(model => model.ChamadoDtAbertura, new { htmlAttributes = new { @class = "form-control datepicker", @readonly = "readonly" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.ChamadoDtAbertura, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Data da Abertura" } })
                                }
                            </div>

                            <div class="col-md-2 hidden">
                                <small>Data Prevista</small><br />
                                @if (TempData["Acao"].ToString() == "Visualizar")
                                {
                                    @Html.EditorFor(model => model.ChamadoDtPrevista, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.ChamadoDtPrevista, new { htmlAttributes = new { @class = "form-control", @placeholder = "Data da Abertura" } })
                                }
                            </div>

                            @*<div class="col-md-2">
                                <small>Data de Termino</small><br />
                                @if (TempData["Acao"].ToString() == "Visualizar")
                                {
                                    @Html.EditorFor(model => model.ChamadoDtTermino, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.ChamadoDtTermino, new { htmlAttributes = new { @class = "form-control", @placeholder = "Data de Término" } })
                                }
                            </div>*@

                            <div class="col-md-4 hidden">
                                <small>De Usuário</small><br />
                                @Html.DropDownList("DeUsrID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DeUsrID, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-4">
                                <small>Para Usuário</small><br />
                                @Html.DropDownList("ParaUsrID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ParaUsrID, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-4 hidden">
                                <small>Atender Empresa</small><br />
                                @Html.DropDownList("AtenderEmpID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AtenderEmpID, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-4">
                                <small>Status do Chamado</small><br />
                                <select id="Status" name="Status">
                                    @if (Model.Status == "Cancelado"){<option selected>Cancelado</option>}else{<option>Cancelado</option>}
                                    @if (Model.Status == "Postado"){<option selected>Postado</option>}else{<option>Postado</option>}
                                    @if (Model.Status == "Em Análise"){<option selected>Em Análise</option>}else{<option>Em Análise</option>}
                                    @if (Model.Status == "Em Desenvolvimento"){<option selected>Em Desenvolvimento</option>}else{<option>Em Desenvolvimento</option>}
                                    @if (Model.Status == "Desenvolvido"){<option selected>Desenvolvido</option>}else{<option>Desenvolvido</option>}
                                    @if (Model.Status == "Pré Finalizado"){<option selected>Pré Finalizado</option>}else{<option>Pré Finalizado</option>}
                                    @if (Model.Status == "Finalizado"){<option selected>Finalizado</option>}else{<option>Finalizado</option>}
                                    @if (Model.Status == "Pendente Aprovar")
                                    {
                                    <option selected>Pendente Aprovar</option>}
                                    else
                                    {
                                    <option>Pendente Aprovar</option>}
                                </select>
                            </div>

                            <div class="col-md-4">
                                <small>Tipo do Chamado</small><br />
                                @Html.DropDownList("TipoChamadoID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TipoChamadoID, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-4">
                                <small>Atividade do Chamado</small><br />
                                @Html.DropDownList("AtividadeChamadoID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AtividadeChamadoID, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-12">
                                <small>Histórico</small><br />
                                @if (TempData["Acao"].ToString() == "Visualizar")
                                {
                                    @Html.TextAreaFor(model => model.ChamadoHistorico, new { @class = "form-control", @rows = 5 })
                                }
                                else
                                {
                                    @Html.TextAreaFor(model => model.ChamadoHistorico, new { @class = "form-control", @rows = 5 })
                                }
                            </div>
                        </div><!-- /.row -->
                        <div class="col-md-12">
                            <hr />
                        </div>
                    </div>
                </div><!-- /.col -->
            </div>
            <div class="panel-footer form-actions">
                @if (Session["UsuarioGestor"].ToString() == "True")
                {
                    <button class="btn btn-success" type="submit" name="submit" value="SalvarChamado">
                        Salvar
                    </button>
                }
                <button id="cancelar" class="btn btn-warning" type="submit" name="submit" value="Cancelar">
                    Cancelar
                </button>
            </div>

        </div>
    </div>}

        <!-- basic scripts -->
<!--[if !IE]> -->
<script src="../Scripts/assets/js/jquery.2.1.1.min.js"></script>
<script src="../Scripts/assets/js/dropzone.min.js"></script>

<!-- <![endif]-->
<!--[if IE]>
<script src="../Scripts/assets/js/jquery.1.11.1.min.js"></script>
<![endif]-->
<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='../Scripts/assets/js/jquery.min.js'>" + "<" + "/script>");
</script>

<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='../Scripts/assets/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='../Scripts/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="../Scripts/assets/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->
<script src="../Scripts/assets/js/jquery.colorbox.min.js"></script>

<!-- ace scripts -->
<script src="../Scripts/assets/js/ace-elements.min.js"></script>
<script src="../Scripts/assets/js/ace.min.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        var $overflow = '';
        var colorbox_params = {
            rel: 'colorbox',
            reposition: true,
            scalePhotos: true,
            scrolling: false,
            previous: '<i class="ace-icon fa fa-arrow-left"></i>',
            next: '<i class="ace-icon fa fa-arrow-right"></i>',
            close: '&times;',
            current: '{current} of {total}',
            maxWidth: '100%',
            maxHeight: '100%',
            onOpen: function () {
                $overflow = document.body.style.overflow;
                document.body.style.overflow = 'hidden';
            },
            onClosed: function () {
                document.body.style.overflow = $overflow;
            },
            onComplete: function () {
                $.colorbox.resize();
            }
        };

        $('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
        $("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon


        $(document).one('ajaxloadstart.page', function (e) {
            $('#colorbox, #cboxOverlay').remove();
        });
    })
</script>


